@use "colors" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: $color-text-primary;
  background-color: $color-background-light;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

button,
a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: $color-text-primary;
}

ul > li {
  list-style-type: none;
}
