@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  /* colors */
  --color-primary: #ff6b6b;
  --color-secondary: #4ecdc4;
  --color-accent: #ffe66d;
  --color-background-light: #f7fff7;
  --color-background-dark: #1a1a1a;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-accent: #000000;

  /* font family */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background-light);
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

button,
a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  columns: var(--color-text-primary);
}

ul > li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
